<div>
  <p><select [(ngModel)]="count" >
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
  </select></p>
  <div [ngSwitch]='count'>
    <div *ngSwitchCase='2'>
      <input type="text" size="5" [(ngModel)]="m0">+
      <input type="text" size="5" [(ngModel)]="m1">=
      <input type="text" size="5" [(ngModel)]="m2"><br>

      <input type="text" size="5" [(ngModel)]="m7">+
      <input type="text" size="5" [(ngModel)]="m8">=
      <input type="text" size="5" [(ngModel)]="m9">
    </div>

    <div *ngSwitchCase='3'>
      <input type="text" size="5" [(ngModel)]="m0">+
      <input type="text" size="5" [(ngModel)]="m1">+
      <input type="text" size="5" [(ngModel)]="m2">=
      <input type="text" size="5" [(ngModel)]="m3"><br>

      <input type="text" size="5" [(ngModel)]="m7">+
      <input type="text" size="5" [(ngModel)]="m8">+
      <input type="text" size="5" [(ngModel)]="m9">=
      <input type="text" size="5" [(ngModel)]="m10"><br>

      <input type="text" size="5" [(ngModel)]="m14">+
      <input type="text" size="5" [(ngModel)]="m15">+
      <input type="text" size="5" [(ngModel)]="m16">=
      <input type="text" size="5" [(ngModel)]="m17">
    </div>

    <div *ngSwitchCase="4">
      <input type="text" size="5" [(ngModel)]="m0">+
      <input type="text" size="5" [(ngModel)]="m1">+
      <input type="text" size="5" [(ngModel)]="m2">+
      <input type="text" size="5" [(ngModel)]="m3">=
      <input type="text" size="5" [(ngModel)]="m4"><br>

      <input type="text" size="5" [(ngModel)]="m7">+
      <input type="text" size="5" [(ngModel)]="m8">+
      <input type="text" size="5" [(ngModel)]="m9">+
      <input type="text" size="5" [(ngModel)]="m10">=
      <input type="text" size="5" [(ngModel)]="m11"><br>

      <input type="text" size="5" [(ngModel)]="m14">+
      <input type="text" size="5" [(ngModel)]="m15">+
      <input type="text" size="5" [(ngModel)]="m16">+
      <input type="text" size="5" [(ngModel)]="m17">=
      <input type="text" size="5" [(ngModel)]="m18"><br>

      <input type="text" size="5" [(ngModel)]="m21">+
      <input type="text" size="5" [(ngModel)]="m22">+
      <input type="text" size="5" [(ngModel)]="m23">+
      <input type="text" size="5" [(ngModel)]="m24">=
      <input type="text" size="5" [(ngModel)]="m25">
    </div>

    <div *ngSwitchCase="5">
    <input type="text" size="5" [(ngModel)]="m0">+
    <input type="text" size="5" [(ngModel)]="m1">+
    <input type="text" size="5" [(ngModel)]="m2">+
    <input type="text" size="5" [(ngModel)]="m3">+
    <input type="text" size="5" [(ngModel)]="m4">=
    <input type="text" size="5" [(ngModel)]="m5"><br>

    <input type="text" size="5" [(ngModel)]="m7">+
    <input type="text" size="5" [(ngModel)]="m8">+
    <input type="text" size="5" [(ngModel)]="m9">+
    <input type="text" size="5" [(ngModel)]="m10">+
    <input type="text" size="5" [(ngModel)]="m11">=
    <input type="text" size="5" [(ngModel)]="m12"><br>

    <input type="text" size="5" [(ngModel)]="m14">+
    <input type="text" size="5" [(ngModel)]="m15">+
    <input type="text" size="5" [(ngModel)]="m16">+
    <input type="text" size="5" [(ngModel)]="m17">+
    <input type="text" size="5" [(ngModel)]="m18">=
    <input type="text" size="5" [(ngModel)]="m19"><br>

    <input type="text" size="5" [(ngModel)]="m21">+
    <input type="text" size="5" [(ngModel)]="m22">+
    <input type="text" size="5" [(ngModel)]="m23">+
    <input type="text" size="5" [(ngModel)]="m24">+
    <input type="text" size="5" [(ngModel)]="m25">=
    <input type="text" size="5" [(ngModel)]="m26"><br>

    <input type="text" size="5" [(ngModel)]="m28">+
    <input type="text" size="5" [(ngModel)]="m29">+
    <input type="text" size="5" [(ngModel)]="m30">+
    <input type="text" size="5" [(ngModel)]="m31">+
    <input type="text" size="5" [(ngModel)]="m32">=
    <input type="text" size="5" [(ngModel)]="m33">
    </div>

    <div *ngSwitchCase="6">
      <input type="text" size="5" [(ngModel)]="m0">+
      <input type="text" size="5" [(ngModel)]="m1">+
      <input type="text" size="5" [(ngModel)]="m2">+
      <input type="text" size="5" [(ngModel)]="m3">+
      <input type="text" size="5" [(ngModel)]="m4">+
      <input type="text" size="5" [(ngModel)]="m5">=
      <input type="text" size="5" [(ngModel)]="m6"><br>

      <input type="text" size="5" [(ngModel)]="m7">+
      <input type="text" size="5" [(ngModel)]="m8">+
      <input type="text" size="5" [(ngModel)]="m9">+
      <input type="text" size="5" [(ngModel)]="m10">+
      <input type="text" size="5" [(ngModel)]="m11">+
      <input type="text" size="5" [(ngModel)]="m12">=
      <input type="text" size="5" [(ngModel)]="m13"><br>

      <input type="text" size="5" [(ngModel)]="m14">+
      <input type="text" size="5" [(ngModel)]="m15">+
      <input type="text" size="5" [(ngModel)]="m16">+
      <input type="text" size="5" [(ngModel)]="m17">+
      <input type="text" size="5" [(ngModel)]="m18">+
      <input type="text" size="5" [(ngModel)]="m19">=
      <input type="text" size="5" [(ngModel)]="m20"><br>

      <input type="text" size="5" [(ngModel)]="m21">+
      <input type="text" size="5" [(ngModel)]="m22">+
      <input type="text" size="5" [(ngModel)]="m23">+
      <input type="text" size="5" [(ngModel)]="m24">+
      <input type="text" size="5" [(ngModel)]="m25">+
      <input type="text" size="5" [(ngModel)]="m26">=
      <input type="text" size="5" [(ngModel)]="m27"><br>

      <input type="text" size="5" [(ngModel)]="m28">+
      <input type="text" size="5" [(ngModel)]="m29">+
      <input type="text" size="5" [(ngModel)]="m30">+
      <input type="text" size="5" [(ngModel)]="m31">+
      <input type="text" size="5" [(ngModel)]="m32">+
      <input type="text" size="5" [(ngModel)]="m33">=
      <input type="text" size="5" [(ngModel)]="m34"><br>

      <input type="text" size="5" [(ngModel)]="m35">+
      <input type="text" size="5" [(ngModel)]="m36">+
      <input type="text" size="5" [(ngModel)]="m37">+
      <input type="text" size="5" [(ngModel)]="m38">+
      <input type="text" size="5" [(ngModel)]="m39">+
      <input type="text" size="5" [(ngModel)]="m40">=
      <input type="text" size="5" [(ngModel)]="m41">
    </div>
  </div>
</div>

<div>
  <button (click)="decide()">Solve linear system</button><BR>
  <label class="result">{{result}}</label>
</div>

<div>
  <Button (click)="slaubd()">Show previous operations</Button>
  <table class="operatiombd">
    <tr>
      <th>id</th>
      <th>sizeSlau</th>
      <th>equations</th>
      <th>answer</th>
    </tr>
    <tr *ngFor="let op of resultbd1; let i=index">
      <td>{{op.id}}</td>
      <td>{{op.sizeSlau}}</td>
      <td class="result">{{op.equations}}</td>
      <td class="result">{{op.answer}}</td>
    </tr>
  </table>
</div>

